/* src/Demo19.css */

.Demo19-app {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .Demo19-header {
    background-color: #ff8c94;
    padding: 1rem;
    color: white;
  }
  
  .Demo19-header h1 {
    margin: 0;
  }
  
  .Demo19-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .Demo19-header nav ul li {
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .Demo19-main-section {
    margin: 2rem 0;
  }
  
  .Demo19-food-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .Demo19-food-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    width: calc(50% - 2rem);
    border-radius: 15px;
    overflow: hidden;
  }
  
  .Demo19-food-card img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    height: 200px; /* Adjust the height as needed */
  }
  
  .Demo19-food-info h3 {
    margin: 1rem 0;
  }
  
  .Demo19-banner {
    width: 100%;
    margin: 2rem 0;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .Demo19-banner img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    height: 300px; /* Adjust the height as needed */
  }
  
  .Demo19-footer {
    background-color: #ff8c94;
    color: white;
    padding: 2rem 0;
    text-align: center;
  }
  
  .Demo19-footer div {
    margin-bottom: 1rem;
  }
  
  .Demo19-footer h3 {
    margin-bottom: 1rem;
  }
  
  .Demo19-footer ul {
    padding: 0;
    list-style-type: none;
  }
  
  .Demo19-footer li {
    margin: 0.5rem 0;
  }
  
  .Demo19-footer p {
    margin: 0.5rem 0;
  }
  
  .Demo19-footer a {
    color: white;
    text-decoration: none;
  }
  
  .Demo19-footer a:hover {
    text-decoration: underline;
  }
  